version: '3.8'

services:
  service-a:
    build:
      context: ./service-a
      dockerfile: Dockerfile
    container_name: service-a
    ports:
      - "8000:8000"
    environment:
      - SERVICE_B_URL=http://service-b:8001
      # Point to external Jaeger collector (HTTP)
      - JAEGER_ENDPOINT=http://jaeger:14268/api/traces
      - JAEGER_AGENT_HOST=jaeger
      - JAEGER_AGENT_PORT=14268
    depends_on:
      - service-b
    networks:
      - microservices-network

  service-b:
    build:
      context: ./service-b
      dockerfile: Dockerfile
    container_name: service-b
    ports:
      - "8001:8001"
    environment:
      # Point to external Jaeger collector (HTTP)
      - JAEGER_ENDPOINT=http://jaeger:14268/api/traces
      - JAEGER_AGENT_HOST=jaeger
      - JAEGER_AGENT_PORT=14268
    networks:
      - microservices-network

networks:
  microservices-network:
    external: true

